@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Movie Project Where you can Show movies add,update, and delete.</p>
</div>
